<h1>Gestion des devis</h1>

<div>
  <select (change)="setCurrentState($event.target.value)">
    <option value=1>En attente</option> <!-- Modifier le backend pour ajouter une requête qui récupère les différents états -->
    <option value=2>Terminés</option>
    <option value=3>Acceptés</option>
    <option value=4>Refusés</option>
  </select>
</div>  <!-- dropdown pour choisir quel type de tri -->

<ul>
  <div *ngFor="let quote of quotes"> <!-- y a surement une meilleure facon de le faire-->
    <app-quote-row *ngIf="quote.state.id == this.currentState" [quote]="quote"></app-quote-row>
  </div>
</ul>

