<!--
  quote.state.id:
    {
      1 : En attente,
      2 : Terminés,
      3 : Acceptés,
      4 : Refusés
    }
-->

<div class="container" (click)="getQuoteDetails()">
  <span class="name">{{ quote.name }}</span>
  <span class="date">{{ quote.createdAt | date: 'longDate'}}</span>
  <span class="price">300€</span>
  <div class="buttons" > 
    <button class="dark-button" *ngIf='quote.state.id === 1' (click)="updateQuote(3)">Accepter</button>
    <button class="light-button" *ngIf='quote.state.id === 1' (click)="updateQuote(4)">Refuser</button>
    <button class="dark-button" *ngIf='quote.state.id === 2' (click)="deleteQuote()">Supprimer</button>
    <button class="dark-button" *ngIf='quote.state.id === 3' (click)="updateQuote(2)">Terminer</button>
    <button class="light-button" *ngIf='quote.state.id === 3' (click)="updateQuote(4)">Annuler</button>
    <button class="dark-button" *ngIf='quote.state.id === 4' (click)="deleteQuote()">Supprimer</button>
  </div>
</div>

