<nav>
    <div class="page-links" *ngIf='isAdmin === false'> 
      <ul>    
          <li><a routerLink="client" >Accueil</a></li>
          <li><a routerLink="client/user-data" >Demander un devis</a></li>
          <li><a routerLink="client/gallery" >Gallerie</a></li>
          <li><a routerLink="client/about" >À propos</a></li>
      </ul>
      <div>
          <button (click)="onSwitch()">Admin</button>
      </div>
    </div>
    <div class="page-links" *ngIf='isAdmin === true'>
        <ul>
          <li><a routerLink="quotes-manager" >Gestion des devis</a></li>
        </ul>
      <div>
        <button (click)="onSwitch()">Client</button>
      </div>
    </div>
</nav>

<div class="container">
    <div>
        <router-outlet></router-outlet>
    </div>
</div>