@import "../../variables.scss";

div.title-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  h1{
    margin-right: 12px;
  }
}

div.quotes-container {
  div.grid-titles{
    display:grid;
    grid-template-columns: 15% 15% 10% 10% 10% 10% 20% 10%;
    margin-bottom: 54px;
    span.column-title{
      font-weight: bold;
    }
  }
  .grid-content{
    display:grid;
    grid-template-columns: 15% 15% 10% 10% 10% 10% 20% 10%;
    margin-bottom: 48px;
  }
}

div.contact-container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  div.infos{
    div.name{
      display: flex;
      flex-direction: row;
    }
    div.mail{
      display: flex;
      flex-direction: row;
    }
  }

  div.buttons{
    button{
      border-radius: 6px;
      width: 100px;
      padding-top: 12px;
      padding-bottom: 12px;
      transition-duration: $button_duration;
      cursor: pointer;
      &.dark-button{
        background-color: $pink;
        border: 2px solid $pink;
        margin-right: 16px;
        color: $white;
        &:hover{
          background-color: $dark_pink;
          border: 2px solid $dark_pink;
        }
      }
      &.light-button{
        background-color: $white;
        border: 2px solid $pink;
        &:hover{
          border: 2px solid $dark_pink;
        }
      }
    }
  }
}