<div class = "title-container">
  <h1>{{ quote.name }}</h1>
  <p>{{ quote.state.name }}</p>
</div>

<h2>Devis</h2>

<div class="quotes-container">
  <div class="grid-titles">
    <span class="column-title">Nom</span>
    <span class="column-title">Marque</span>
    <span class="column-title">Nombre</span>
    <span class="column-title">Échelle</span>
    <span class="column-title">Qualité</span>
    <span class="column-title">Montage</span>
    <span class="column-title">Commentaire</span>
    <span class="column-title">Prix</span>
  </div>
  <div class="grid-content" *ngFor="let miniaturesGroup of quote.miniaturesGroups">
    <span class="column-content">{{ miniaturesGroup?.name }}</span>
    <span class="column-content">{{ miniaturesGroup?.brand }}</span>
    <span class="column-content">{{ miniaturesGroup?.quantity }}</span>
    <span class="column-content">{{ miniaturesGroup?.scale.name }}</span>
    <span class="column-content">{{ miniaturesGroup?.quality.name }}</span>
    <span class="column-content">{{ miniaturesGroup?.wantBuilt }}</span>
    <span class="column-content">{{ miniaturesGroup?.comment }}</span>
    <span class="column-content">{{ getRowPrice(miniaturesGroup.id) }} €</span>
  </div>
</div>

<h2>Schéma de couleur</h2>
<p>{{ quote.colorScheme }}</p>
<div class="contact-container">
  <div class="infos">
    <h2>Contact</h2>
    <div class="name">
      <strong >Nom </strong><span> : {{ quote.user.name }}</span>
    </div>
    <div class="mail">
      <strong >Adresse email </strong> <span> : {{ quote.user.mail }}</span>
    </div>
  </div>
  <div class="buttons" > 
    <button class="dark-button" *ngIf='quote.state.id === 1' (click)="updateQuote(3)">Accepter</button>
    <button class="light-button" *ngIf='quote.state.id === 1' (click)="updateQuote(4)">Refuser</button>
    <button class="dark-button" *ngIf='quote.state.id === 2' (click)="deleteQuote()">Supprimer</button>
    <button class="dark-button" *ngIf='quote.state.id === 3' (click)="updateQuote(2)">Terminer</button>
    <button class="light-button" *ngIf='quote.state.id === 3' (click)="updateQuote(4)">Annuler</button>
    <button class="dark-button" *ngIf='quote.state.id === 4' (click)="deleteQuote()">Supprimer</button>
  </div>
</div>


